<p id="notice"><%= notice %></p>

<h1>Suitdesigns</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suitdesigns.each do |suitdesign| %>
      <tr>
        <td><%= suitdesign.title %></td>
        <td><%= suitdesign.description %></td>
        <td><%= link_to 'Show', suitdesign %></td>
        <td><%= link_to 'Edit', edit_suitdesign_path(suitdesign) %></td>
        <td><%= link_to 'Destroy', suitdesign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suitdesign', new_suitdesign_path %>
